[submodule "extern/cmake"]
	path = extern/cmake
	url = https://github.com/Jorengarenar/cmake-modules.git
[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "extern/CMake-BoostTestHelper"]
	path = extern/CMake-BoostTestHelper
	url = https://github.com/Jorengarenar/CMake-BoostTestHelper.git
